extends layout

block vars
  -var title = 'Dashboard'

block body
  if user
    p hello #{user.firstName} #{user.lastName}
  h1 Dashboard
  
  div
    if user.room.roomName
      p Your Room:
      p #{user.room.roomName}

    else
      p You haven't created a room yet. Get going man!
  div 
    p Your roomates:
    
  div
    p Bills:

  div
    p Balance:

  div
    p Dont belong to a room yet? Click below to create a room and invite your roomates!
    form(action='/createroom', method='get')
      input(type='submit', value='CREATE ROOM')

    form(action='/createroom/addroommate', method='post')
      input(type='text', name='roomMateEmail')
      input(type='submit', value='ADD ROOMATE')

  a(href="/logout") logout